@charset "UTF-8";

html{
    font-size: 100%;
}

head{
    color: #383e45;
    font-size: 0.9rem;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

p{
    text-align: center;
}

.wrapper{
    max-width: 960px;
    padding: 0 4%;
    text-align: center;
    margin: 0 auto 100px auto;
}

.site-title{
    line-height: 1px;
}

.site-title a{
    display: block;
}

.section-title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
}

.button input{
    width: 200px;
    background-color: #383e45;
    color: white;
    padding: 15px 0;
    border: solid 1px #24292e;
}

#header{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header ul{
    display: flex;
    padding: 10px 0;
}

#header li{
    font-size: 0.9rem;
    margin-left: 30px;
}

#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}

#About p{
    text-align: justify;
}

#Works ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#Works li{
    width: 31%;
    margin-bottom: 23px;
}

#News dl{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
}

#News dt{
    width: 20%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

#News dd{
    width: 80%;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px;
}

#Contact dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#Contact dt{
    width: 15%;
}

#Contact dd{
    width: 85%;
    margin-bottom: 10px;
}

#Contact dd input,#Contact dd textarea{
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}

#Contact .buttopn{
    text-align: center;
}

#Contact .button:hover{
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .wrapper{
        margin-bottom: 70px;
    }

    .site-title{
        margin-top: 20px;
    }

    .section-title{
        margin-bottom: 40px;
    }

    #header{
        max-width: 100%;
        height: auto;
        flex-direction: column;
    }

    #header li{
        font-size: 0.8rem;
        margin-left: 20px;
    }

    #header li:first-child{
        margin-left: 0;
    }

    #Works ul{
        flex-direction: column;
    }

    #Works li{
        width: 100%;
    }

    #News dl{
        flex-direction: column;
    }

    #News dt{
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    #News dd{
        width: 100%;
        padding-top: 0;
    }

    #Contact dl{
        flex-direction: column;
    }

    #Contact dt{
        width: 100%;
    }

    #Contact dd{
        width: 100%;
    }
}